# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Archivos PDF en ayudantías de estadística descriptiva
ayudantias_estadistica_descriptiva/tutorial_instalacion_R.pdf
ayudantias_estadistica_descriptiva/recursos_adicionales_para_R/Recursos-R.pdf
ayudantias_estadistica_descriptiva/ayudantia01/presentacion_ayudantia_01.pdf
ayudantias_estadistica_descriptiva/ayudantia03/guia_ayudantia_03_pt1.pdf

# Archivos .RData en ayudantías de estadística descriptiva
#ayudantias_estadistica_descriptiva/ayudantia01/cc1.RData
